@import url(styles/header.css);
:root{
   --cor-de-fundo:#FFFFFF;
    --cor-do-texto:#531F73;
    --cor-do-texto:#6134C1;
    --cor-do-texto:#0000;
    --cor-do-texto:#ffff;
    --destaque:purple;
    --links: #000;
}
body{
    background-color: var(cor-de-fundo);
}