.cabecalho-menu-hamburguer{
    width: 24px;;
    height: 24px;
    background-image: url("../img/Menu\ Aberto.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-position:center;
    }
    .cabecalho{

        background-color: var(--cor-do-text0);
        display:flex;
        justify-content: space-between;
        align-items:center;
        position:relative;
    }
    .container{
        display:flex;
        align-items:center;
    }
    .container-imagem{
        padding:1 em;
    }
    .lista-menu{
        display: none;
        position:absolute;
        top:100%;
    }
    .lista-menu-titulo,.lista-menu-item{
        padding:1em;
        background-color:var(--cor-d0-texto);
    }
    .container-botao:checked ~.lista-menu{
        display:block;
     }